.button {
    width: 100% !important;
    height: 48px;
    border-radius: 16px;
    border: 2px solid #7126B5;
    background-color: #7126B5;
    color: white;
    width: 158px;
    font-weight: 500;
    padding: 5px 20px;
}

.button:hover {
    color: #7126B5;
    background-color: white;
}

.card {
    margin-left: 0px;
    border-radius: 16px;
}

.image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 16px;
}

.button-action {
    border-radius: 16px !important;
    border: 2px solid #7126B5 !important;
    background-color: #7126B5 !important;
    color: #ffffff;
    width: 100%;
    height: 48px !important;
    font-weight: 500;
    padding: 5px 20px;
}

.button-action:hover {
    background-color: white !important;
    color: #7126B5;
}

.carduser {
    height: fit-content;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}